@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Bogle&display=swap");

* {
  margin: 0;
  padding: 0;
}
.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bbh-bogle-regular {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  padding-left: 1000px;
  padding-top: 500px;
}

.green {
  color: rgb(51, 204, 51);
}
.red {
  color: rgb(204, 51, 51);
}
.normal {
  color: rgb(0, 0, 0);
}
.number {
  padding-left: 150px;
  padding-top: 20px;
  font-size: 50px;
}
.buttons {
  padding-left: px;
  padding-top: 20px;
  display: flex;
  width: 370px;
  justify-content: space-around;
  height: 30px;
}
.title {
  padding-left: 30px;
}
